	* {
		margin:0px; padding:0px; font-family:"나눔바른고딕";
	}

/**
	footer
*/
	footer>section.sc1, footer>section.sc2 {
		background-color:rgb(242,242,242);
		border:1px solid rgb(231,231,231);
	}
	footer>section.sc1>nav>ul>li {
		display:inline-block;
		padding:15px 0 15px 20px;
	}
	footer>section.sc1>nav>ul>li>a {
		font-size:16px; margin:10px 5px 0 0;
		color:rgb(102,102,102); text-decoration:none;
	}
	footer>section.sc2>div.info {
		font-size:16px;	color:rgb(102,102,102);
		padding:15px 0 30px 20px;
	}
	footer>section.sc2>div.info>div {
		padding:2px 0;
	}

/**
	로그인, 회원가입, 게시판, 공지사항 등 공통 스타일 정의
*/
	section.section_1>div>h1 {
		width:20%; font-size:25px; padding:40px 0 20px 60px;
	}
	section.section_1>div>form,	section.section_1>div>table,
	table.board_content_rp, table.board_content_reg, table.board_content_title {
		width:80%; margin:auto;
	}
	.btn_style {
		background-color:rgb(255,0,80);
		border:1px solid rgb(255,0,80);
		font-family:"나눔바른고딕";
		font-size:14px; font-weight:500;
		color:white; width:25%; height:35px;
	}
	.btn_style_2 {
		background-color:rgb(213,213,213);
		border:1px solid rgb(213,213,213);
		font-family:"나눔바른고딕";
		font-size:14px; font-weight:500;
		width:25%; height:35px;
	}

/**
	게시판 리스트
*/	
	table.board, table.board th, table.board td{
		border-top:1px solid black;
		border-bottom:1px solid black;
		border-collapse:collapse;
	}
	table.board th, table.board td {
		padding:10px 0; 
		color:black;
		font-size:17px;
	}
	table.board th {
		background-color:rgb(213,213,213);
		padding:5px 0;
	}
	table.board tr td:nth-child(1),
	table.board tr td:nth-child(3),
	table.board tr td:nth-child(4) {
		text-align:center;
	}
	table.board tr td:nth-child(2) {
		text-indent:10px;
	}
	table.board tr td:nth-child(2) a {
		text-decoration:none;
	}
	table.board tr:first-child td {
		text-align:right;
		padding:0 15px 10px 0;
		border:1px solid white;
		border-bottom:1px solid black;
	}
	table.board tr:first-child td a>button {
		font-size:13px;
		border-radius:2px;
		width:100px;	padding:5px 0;
		margin-top:10px;
	}
	table.board tr:last-child td {
		border:1px solid white;
		border-top:1px solid black;
		margin-right:5px;
		padding-bottom:100px;
	}
	table.board tr:hover {
		background-color:rgb(213,213,213);
	}
	table.board tr:first-child:hover,
	table.board tr:last-child:hover {
		background-color:white;
	}
	
/**
	게시판 콘텐츠
*/
	table.board_content tr:first-child td a>button {
		font-size:13px;
		border-radius:2px;
		width:100px; padding:5px 0;
		margin:10px 0 20px 0;
	}
	table.board_content tr:first-child td:first-child a>button {
		margin-left:10px;
	}
	table.board_content tr:first-child td:last-child {
		text-align:right;
	}
	table.board_content tr:first-child td:last-child a:last-child>button {
		margin-right:10px;
	}
	table.board_content tr:nth-child(2) th {
		text-align:left;
		padding:15px 0 5px 10px;
		font-size:20px;
		border-top:1px solid gray;
	}
	table.board_content tr:nth-child(3) td {
		font-size:13px; color:gray;
		text-align:left;
		padding-bottom:10px;
	}
	table.board_content tr:nth-child(4) td {
		text-align:left;
		padding:20px 0 50px 10px;
		border-top:1px solid lightgray;
		border-bottom:1px solid gray;
	}
	table.board_content tr:nth-child(3) td:first-child {
		width:180px; padding-left:10px;
		font-size:14px; font-weight:500; 
	}
	table.board_content tr:nth-child(3) td:nth-child(2),
	table.board_content tr:nth-child(3) td:nth-child(3),
	table.board_content tr:nth-child(3) td:nth-child(4),
	table.board_content tr:nth-child(3) td:nth-child(5) {
		width:30px; font-size:13px;
	}
	table.board_content tr:nth-child(3) td:nth-child(6) {
		width:50px; font-size:13px;
	}
	section.section_2 {
		margin-bottom:100px;
	}
	table.board_content_title {
		font-size:15px; font-weight:600;
		margin-top:10px;
		margin-bottom:10px;
		padding-left:5px;
	}
	table.board_content_rp img {
		width:20px; height:20px;
		padding:5px 5px 5px 10px;
	} 
	table.board_content_rp tr:first-child td:first-child {
		/* border:1px solid red; */
		width:40px;
	}
	table.board_content_rp tr:first-child td:nth-child(2) {
		/* border:1px solid green; */
		width:130px;
		font-size:15px; font-weight:600;
	}
	table.board_content_rp tr:first-child td:nth-child(3) {
		/* border:1px solid blue; */
		font-size:13px;
	}
	table.board_content_rp tr:last-child td {
		/* border:1px solid orange; */
		padding-left:10px;
	}
	table.board_content_reg td:first-child {
		/* border:1px solid blue; */
		width:92%;
	}
	table.board_content_reg td:last-child {
		/* border:1px solid red; */
		text-align:center;
	} 
	table.board_content_reg textarea {
		/* border:1px solid gray; */
		margin-top:20px;
		width:98%;
		height:80px;
	}
	table.board_content_reg td>button {
		font-size:14px;
		border-radius:2px;
		width:80px; padding:5px 0;
	}
	table.board_content_rp {
		/* border:1px solid black; */
		margin-bottom:5px;
		padding:5px 0 8px 0;
		background-color:rgb(242,242,242);
	}
	
/**
	게시판 스타일 - 글쓰기, 수정폼
*/	
	form.board_write, form.board_update {
		padding-top:50px;
	}
	form.board_write>ul>li:first-child, form.board_write>ul>li:nth-child(2),
	form.board_write>ul>li:nth-child(3), form.board_update>ul>li:first-child,
	form.board_update>ul>li:nth-child(2), form.board_update>ul>li:nth-child(3) {
		padding:5px 0 5px 50px;
	}
	form.board_write>ul>li,	form.board_update>ul>li {
		list-style-type:none; 
		clear:both;
		margin-bottom:5px;
	}
	form.board_write>ul>li>label, form.board_update>ul>li>label {
		background-color:rgb(213,213,213);
		display:inline-block;
		width:100px; height:20px; padding:5px 0;
		text-align:center; float:left;
		border-radius:4px; font-weight:600;
		color:black; font-size:14px;
		margin-right:10px;
	}
	form.board_write>ul>li>input[type="text"],
	form.board_update>ul>li>input[type="text"],
	form.board_write>ul>li>textarea,
	form.board_update>ul>li>textarea {
		border-radius:4px;
		width:80%;
		padding:6px 10px;
		color:black; font-size:13px;
		border:1px solid gray;
	}
	form.board_write>ul>li>textarea,
	form.board_update>ul>li>textarea {
		height:150px;
	}
	form.board_write>ul>li>input[type="file"],
	form.board_update>ul>li>input[type="file"] {
		width:50%; height:50px;
		padding:3px 0;
		color:black; font-size:13px;
	}
	form.board_write>ul>li:last-child button,
	form.board_update>ul>li:last-child button {
		font-size:13px;
		width:100px; padding:5px 0;
		border-radius:4px;
		margin:10px 0 100px 0;
	}
	form.board_write>ul>li:last-child,
	form.board_update>ul>li:last-child {
		text-align:center;
	}
	
/**
	게시판 스타일 - 삭제
*/	
	form.board_delete {
		padding-top:50px;
	}
	form.board_delete img {
		width:120px; height:120px;
		margin:20px 0;
	}
	form.board_delete div, form.board_delete {
		text-align:center; margin:auto;
	}
	form.board_delete>div {
		padding-bottom:100px;
	}
	form.board_delete>div button {
		font-size:13px;
		width:100px; padding:5px 0;
		border-radius:4px;
		margin:10px 0;
	}

/**
	회원가입 스타일
*/
	section.section_1 form.join span.red {
		color:red; font-weight:600;
	}
	section.section_1 form.join {
		width:50%;
	}
	section.section_1 form.join li {
		list-style-type:none;
		clear:left;
		padding:5px 0;
	}
	section.section_1 form.join li>label {
		border:1px solid gray;
		display:inline-block;
		width:19%; padding:7px 0 7px 15px;
		float:left; margin-right:10px;
		font-size:14px; border-radius:4px;
		background-color:rgb(213,213,213);
	}
	section.section_1 form.join input.f1 {
		border:1px solid gray;
		border-radius:4px;
		padding:8px 10px 8px 10px;
		width:45%;
		text-indent:10px;
	}
	section.section_1 form.join li>div {
		font-size:12px;	color:#333;
		padding:3px 0 3px 190px;
	}
	section.section_1 form.join input.addr,
	section.section_1 form.join input.hp_num,
	section.section_1 form.join select.hp,
	section.section_1 form.join select.f3 {
		border:1px solid gray;
		border-radius:4px;
		padding:3px 10px 7px 10px;
	}
	section.section_1 form.join input.f2 {
		border:1px solid gray;
		border-radius:4px;
		padding:8px 10px;
		width:19.5%;
		text-indent:10px;
	}
	section.section_1 form.join select.f3 {
		width:12%;
		padding:7px 10px;
	}
	section.section_1 form.join select.hp {
		width:12%;
		padding:7px 10px;
	}
	section.section_1 form.join input.hp_num {
		width:12%;
		padding:8px 10px;
	}
	section.section_1 form.join span.rchk {
		font-size:16px;
		padding-left:5px;
	}
	section.section_1 form.join li:last-child>button {
		width:15%; height:40px;
		padding:10px 0 10px 0;
		
	}
	section.section_1 form.join li:last-child {
		text-align:center;
		margin-top:50px;
		margin-bottom:100px;
	}
	section.section_1 form.join button.sub {
		border:1px solid gray;
		border-radius:4px;
		background-color:rgb(213,213,213);
		font-size:13px;
		padding:8px 10px;
	}
	section.section_1 div.j_title {
		font-size:12px; padding:10px 0;
	}
	
	
	